# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node Angular
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log
frontend/typings
frontend/jspm_packages
frontend/bower_components
frontend/src/app/**/*.js
frontend//src/app/**/*.map
frontend/.angular/*
frontend/.vscode/*
frontend/dis


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

# . net ManageApi/Core
backend/ManageApi/*.suo
backend/ManageApi/*.backup
backend/ManageApi/*.user
backend/ManageApi/*.dbmdl
backend/ManageApi/*.pptx
backend/ManageApi/*.psess
backend/ManageApi/*.orig
backend/ManageApi/*.xml
backend/ManageApi/*.~vsd
backend/ManageApi/*.zip
backend/ManageApi/*.sublime-project
backend/ManageApi/*.sublime-workspace
backend/ManageApi/*.exe
backend/ManageApi/*.avi
backend/ManageApi/*.mp4
backend/ManageApi/*.mov
backend/ManageApi/*.rar
backend/ManageApi/*.mdf
backend/ManageApi/*.ldf
backend/ManageApi/**/nuspec.list
backend/ManageApi/**/packages/
backend/ManageApi/**/.sass-cache/
backend/ManageApi/**/node_modules/
backend/ManageApi/**/bower_components/
backend/ManageApi/*/Performance/*TestResults.txt
backend/ManageApi/**/bin
backend/ManageApi/**/obj
backend/ManageApi/**/*.log.1
backend/ManageApi/**/*.log.*
backend/ManageApi/*.log
backend/ManageApi/*.db
backend/ManageApi/.vs/
backend/ManageApi/Publish/
backend/ManageApi/bin/*